

    <!doctype html>
    <html ng-app="app">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            var app = angular.module("app", []);
            app.controller("demoController", function($scope, $http){
                $http.get("http://localhost:3000/getNaloge").then(function(data) {
                    console.log('dela');
                    $scope.naloge = data.data;
                });
            });
            
        </script>
      </head>
      <body ng-controller="demoController">
        <table border="1">
            <tr>
                <th>id
                    <br>
                    <input type="text" ng-model="search.idnaloge">
                </th>
                <th>navodila
                    <br>
                    <input type="text" ng-model="search.navodila">
                </th>
                <th>pike
                    <br>
                    <select ng-model="search.pike">
                        <option value="">vse</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select> 
                </th>
                <th>vrstaNaloge
                    <br>
                    <select ng-model="search.tipNaloge">
                        <option value="">vse</option>
                        <option value="nizi">nizi</option>
                        <option value="stevila">stevila</option>
                        <option value="seznami">seznami</option>
                        <option value="datoteke">datoteke</option>
                    </select>
                </th>
            </tr>
            <tr ng-repeat="nal in naloge | filter:search">
                <td>{{nal.idnaloge}}</td>
                <td>{{nal.navodila}}</td>
                <td>{{nal.pike}}</td>
                <td>{{nal.tipNaloge}}</td>
            </tr>
        </table>
      </body>
    </html>

